<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>597235362284-blul5bgcsqv4gnm0o47egofc70e3ohc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.597235362284-blul5bgcsqv4gnm0o47egofc70e3ohc6</string>
	<key>API_KEY</key>
	<string>AIzaSyBPes-OFxgoaJSPZmqB0ew8T4x3E0Nw1v4</string>
	<key>GCM_SENDER_ID</key>
	<string>597235362284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ge.carz.carz</string>
	<key>PROJECT_ID</key>
	<string>carz-6eccc</string>
	<key>STORAGE_BUCKET</key>
	<string>carz-6eccc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597235362284:ios:30aaf5d8630b956c9778c9</string>
</dict>
</plist>
